@model List<Movie>
<h1 class="text-center">Movie Tracker</h1>
<div class="row mb-3">
    <div class="col-6 d-flex align-items-center">
        <form class="col-12" method="get" asp-controller="Movie" asp-action="Index">
            <div class="d-flex ">
                <input type="text" class="form-control" name="SearchQuery">
                <button type="submit" class="search-button btn btn-dark">Search</button>
            </div>
        </form>
    </div>
    <div class="col-6 text-end d-flex justify-content-end align-items-center">
        <a asp-controller="Movie" asp-action="Add" class="btn btn-dark">Add New Movie</a>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Release Year</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Title</td>
                <td>@obj.ReleaseYear</td>
                <td>@obj.Genre</td>
            </tr>
        }
    </tbody>
</table>
<style>

</style>